name: Sync Products from Google Sheets

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm init -y
          npm install googleapis

      - name: Run sync script
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
          SHEET_ID: "1VzplC9RV-mi43ZgorbPC7UmLlZPI20XcdJjL2wtqris"
        run: |
          node scripts/sync-products.js

      - name: Commit changes
        run: |
          git config --global user.email "bot@github.com"
          git config --global user.name "GitHub Action Bot"

          # Agregar solo products.json, ignorar todo lo demás
          git add -f products.json

          # Si no hay cambios, no hacer commit
          if git diff-index --quiet HEAD -- products.json; then
            echo "No hay cambios en products.json"
            exit 0
          fi

          git commit -m "Actualización automática de productos"
          git push
